@font-face {
    font-family: 'Dosis';
    /*src: url('myfont.woff') format('woff'), !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!*/
url('font/Dosis-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body,
body .reveal h1,
body .reveal h2,
body .reveal h3,
body .reveal h4,
body .reveal h5,
body .reveal h6,
h1,
h2,
h3,
p,
li,
a {
    font-family: 'Dosis', sans-serif;
}

body div div.slides {
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 50px;*/
    /*top: 50px;*/
    /*bottom: 0;*/
    /*right: 0;*/
    transform: none!important;
}
